@import 'bootstrapTheme.scss';

//This group is for making the hover white with a black background while not in the mobile view
html {
  @media only screen and (min-width: nth(nth($grid-breakpoints, 3), 2)) {
    .nav-item:hover {
      background-color: white;

      .navbar-link {
        color: black;
      }
    }
  }

  @media only screen and (max-width: nth(nth($grid-breakpoints, 3), 2)) {
    .nav-item:hover {
      a:focus {
        color: white;
      }
    }
  }

  .navbar-link {
    color: white;
  }
}

//Removes the underline that's on links by default for the page navigation buttons
.nav-item:hover {
  a:hover {
    text-decoration: none;
  }
  text-decoration: none;
}

//Adds padding to the page navigation buttons
.nav-item {
  padding: 0.6rem 2.3rem;
}

.navbar-toggler {
  border-color: transparent;
}

.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
  }

  .middle-bar {
    opacity: 1;
  }

  .bottom-bar {
    transform: rotate(0);
  }
}

